{{#if products}}
    {{#each products}}
        <div class="card w-25 text-center m-1 shadow">
            <img src={{this.thumbnail}} alt="">
            <h3>{{this.title}}</h3>
            <h4>{{this.description}}</h4>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
        </div>
    {{/each}}
{{else}}
    <h2>Theres no products</h2>
{{/if}}
